.card{
  border:none;
}

.product{
  background-color: #eee;
}

.brand{
  font-size: 13px;
}

.act-price{
  color: #802c6e;
  font-weight: 700;
}

.dis-price{
  margin-left: 5px;
  text-decoration: line-through;
}

.about{
  font-size: 14px;
}

.color{
  margin-bottom:10px;
}

label.radio{
  cursor: pointer;
}

label.radio input{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span{
  padding: 2px 9px;
  border: 2px solid #802c6e;
  display: inline-block;
  color: #802c6e;
  border-radius: 3px;
  text-transform: uppercase;
}

label.radio input:checked+span{
  border-color: #802c6e;
  background-color: #802c6e;
  color: #fff;
}

.btn-danger{
  background-color: #802c6e !important;
  border-color: #802c6e !important;
}

.btn-danger:hover{
  background-color: #602153 !important;
  border-color: #602153 !important;
}

.btn-danger:focus{
  box-shadow: none;
}

.cart .fa-heart{
  margin-left: 10px;
}

.cart i{
  margin-right: 10px;
}

.images .text-center #main-image{
  margin: 20px 0;
}